server:
  port: 9000
  ssl:
    enabled: true
    key-store: classpath:keystore.p12
    key-store-password: 'TRRQ!@!#@%@KKJH@#'
    key-store-type: PKCS12
    key-alias: tomcat

spring:
  application:
    name: demo-app
  profiles:
    active: @profile.active@
  datasource:
    url: jdbc:mysql://localhost:3306/test?useUnicode=true&characterEncoding=utf-8&zeroDateTimeBehavior=convertToNull&useSSL=false&allowPublicKeyRetrieval=true&rewriteBatchedStatements=true
    username: root
    password: roottoor
  jackson:
    default-property-inclusion: NON_NULL
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8
    serialization:
      write-dates-as-timestamps: false
      indent-output: true
    deserialization:
      fail-on-unknown-properties: false
      adjust-dates-to-context-time-zone: true

mybatis-plus:
  type-aliases-package: com.demo.domain
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    map-underscore-to-camel-case: true
    default-enum-type-handler: com.baomidou.mybatisplus.extension.handlers.MybatisEnumTypeHandler
  global-config:
    db-config:
      id-type: auto
      update-strategy: not-null
      logic-delete-field: deleted
      logic-delete-value: 1
      logic-not-delete-value: 0

hello:
  age: 100
  name: oOo

test:
  value: true

jetcache:
  areaInCacheName: false
  hidePackages: com.demo
  remote:
    default:
      type: redis
      port: 6379
      host: localhost
      keyConvertor: fastjson
      expireAfterWriteInMillis: 180000
      valueEncoder: java
      valueDecoder: java
      poolConfig:
        maxTotal: 20

web-config:
  webmvc:
    format-param: format
  result-body:
    base-package: com.demo
    path: /oauth/**

security:
  whitelist: "/oauth/**,/auth/refresh,/auth/o/**,/login/oauth2/**,/v2/api-docs,/v3/api-docs/**,/swagger-resources/**,/swagger-ui.html,/swagger-ui/**,/webjars/**,/test/**"

github:
  authorization-url: https://localhost:9000/oauth2/authorization/github
  front-redirect-url: https://localhost:8888/#/test

auth:
  # path:
  #   /oauth/**,
  #   /login/**,
  #   /logout/**,
  #   /open/**,
  #   /**/open/**
  jwt-key: JYrr1238123##@#%@#!@5125313

cors:
  allowed-mappings: "/**"
  allowed-origins:
    - https://website.nima.cc.cd
    - https://service.nima.cc.cd
    - https://server.nima.cc.cd
    - https://app.nima.cc.cd
    - https://api.nima.cc.cd
    - https://v.nima.cc.cd
    - https://localhost:5173
    - http://localhost:5173
  allowed-methods:
    - GET
    - POST
    - PUT
    - DELETE
    - OPTIONS
    - HEAD
    - PATCH
  allowed-headers: "*"
  allow-credentials: false
  max-age: 36000
