server:
  port: 9000

spring:
  profiles:
    active: @profile.active@
  datasource:
    url: jdbc:mysql://localhost:3306/test?useUnicode=true&characterEncoding=utf-8&zeroDateTimeBehavior=convertToNull&useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: roottoor
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss

mybatis-plus:
  type-aliases-package: com.demo.domain
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    map-underscore-to-camel-case: true
    default-enum-type-handler: com.baomidou.mybatisplus.extension.handlers.MybatisEnumTypeHandler
  global-config:
    db-config:
      id-type: auto
      update-strategy: not-null

hello:
  age: 100
  name: oOo

test:
  value: true

jetcache:
  areaInCacheName: false
  hidePackages: com.demo
  remote:
    default:
      type: redis
      port: 6379
      host: localhost
      keyConvertor: fastjson
      expireAfterWriteInMillis: 180000
      valueEncoder: java
      valueDecoder: java
      poolConfig:
        maxTotal: 20

web-config:
  webmvc:
    format-param: format
  result-body:
    base-package: com.demo
    path: /oauth/**

security:
  whitelist: "/oauth/**,/auth/refresh,/login/oauth2/**,/v2/api-docs,/v3/api-docs/**,/swagger-resources/**,/swagger-ui.html,/swagger-ui/**,/webjars/**,/test/**"
